body{
  background: 
  url("https://transparenttextures.com/patterns/subtle-dots.png"),
  /* linear-gradient(to bottom right,#3F5B69,#C34477,#f1a17c) ; */
  #20356A
  ;
  font-family: Nunito Sans;
}



.title{
  -webkit-text-stroke: #b1233f 2px;
  -webkit-text-fill-color: transparent;
  

  position: relative;
  background: linear-gradient(to top, #A71E3C, #DC4361, #E68480);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(2px 2px #E68480);
  
}

.title-outline{
  position: relative;
  -webkit-text-stroke: #E68480 2px;
  -webkit-text-fill-color: transparent;
}

.slide-left{
  animation-name: slide-left;
  animation-duration: 1s;
}

.slide-right{
  animation-name: slide-right;
  animation-duration: 1s;
}

@keyframes slide-left{
  0% {left:100rem}
  100%{left:0rem}
}

@keyframes slide-right{
  0% {right:100rem}
  100%{right:0rem}
}