body{
  background: 
  url("https://transparenttextures.com/patterns/subtle-dots.png"),
  /* linear-gradient(to bottom right,#3F5B69,#C34477,#f1a17c) ; */
  #20356A
  ;
  font-family: Nunito Sans;
}



.title{
  -webkit-text-stroke: #b1233f 2px;
  -webkit-text-fill-color: transparent;
  

  position: relative;
  background: linear-gradient(to top, #A71E3C, #DC4361, #E68480);
  -webkit-background-clip: text;
  background-clip: text;
  filter: drop-shadow(2px 2px #E68480);
  
}

.title-outline{
  position: relative;
  -webkit-text-stroke: #E68480 2px;
  -webkit-text-fill-color: transparent;
}


.slide-left{
  animation-name: slide-left;
  animation-duration: 1s;
}

.slide-right{
  animation-name: slide-right;
  animation-duration: 1s;
}

@keyframes slide-left{
  0% {left:100rem}
  100%{left:0rem}
}

@keyframes slide-right{
  0% {margin-left:-20rem}
  100%{margin-left:0rem}
}

.text-about{
  position: relative;
  
  /* -webkit-text-stroke:  1px; */
  /* text-shadow: 2px 2px 2px 2px #364c9f; */
  text-shadow: -1px -1px 0 #002733, 1px -1px 0 #002733, -1px 1px 0 #002733, 3px 3px 0 #002733;
  -webkit-text-fill-color: #EDF6F9;
}

.text-desc{
  /* text-shadow: -1px -1px 0 #EDF6F9, 1px -1px 0 #EDF6F9, -1px 1px 0 #EDF6F9, 1px 1px 0 #EDF6F9;
  -webkit-text-fill-color: #364c9f; */
  text-shadow: -1px -1px 0 #002733, 1px -1px 0 #002733, -1px 1px 0 #002733, 2px 2px 0 #002733;
  -webkit-text-fill-color: #EDF6F9;
}

.text-transparent{
  
  background: 
  url("https://transparenttextures.com/patterns/subtle-dots.png"),
  /* linear-gradient(to bottom right,#3F5B69,#C34477,#f1a17c) ; */
  #20356A;
  -webkit-background-clip: text;
  background-clip: text;


}

.slide-in{
  animation-name: fade-in;
  animation-duration: 4s;
}

@keyframes fade-in{
  0%{opacity:0%;margin-top:5rem}
  100%{opacity:100%;margin-top:0rem}
}

.bouncy{
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%{transform:translateY(1rem)}
  50%{transform:translateY(-1rem)}
  100%{transform:translateY(1rem)}
}

@keyframes show {
  0%{
    opacity:0;
    filter:blur(5px);
  }
  100%{
    opacity:1;
    filter:blur(0);
  }
}

.scroll-style{
  scrollbar-color: #EDF6F9 transparent;
}
